In [6]:
from sklearn.datasets import load_iris

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [23]:
df = pd.read_csv('Iris.csv')

In [48]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [49]:
x1 =  df['SepalLengthCm'].mean()
x2 = df['SepalWidthCm'].mean()
x3 = df['PetalLengthCm'].mean()
x4 = df['PetalWidthCm'].mean()

In [50]:
print(x1,x2,x3,x4)

5.843333333333334 3.0540000000000003 3.758666666666666 1.1986666666666668

In [51]:
y1 =  df['SepalLengthCm'].median()
y2 = df['SepalWidthCm'].median()
y3 = df['PetalLengthCm'].median()
y4 = df['PetalWidthCm'].median()

In [52]:
print(y1,y2,y3,y4)

5.8 3.0 4.35 1.3

In [53]:
z1 =  df['SepalLengthCm'].mode()
z2 = df['SepalWidthCm'].mode()
z3 = df['PetalLengthCm'].mode()
z4 = df['PetalWidthCm'].mode()

In [59]:
print(z1,z2,z3,z4)

0    5.0
Name: SepalLengthCm, dtype: float64 0    3.0
Name: SepalWidthCm, dtype: float64 0    1.5
Name: PetalLengthCm, dtype: float64 0    0.2
Name: PetalWidthCm, dtype: float64

In [60]:
a1 =  df['SepalLengthCm'].mode()
a2 = df['SepalWidthCm'].mode()
a3 = df['PetalLengthCm'].mode()
a4 = df['PetalWidthCm'].mode()

In [61]:
print(a1,a2,a3,a4)

0    5.0
Name: SepalLengthCm, dtype: float64 0    3.0
Name: SepalWidthCm, dtype: float64 0    1.5
Name: PetalLengthCm, dtype: float64 0    0.2
Name: PetalWidthCm, dtype: float64

In [65]:
b1 =  df['SepalLengthCm'].min()
b2 = df['SepalWidthCm'].min()
b3 = df['PetalLengthCm'].min()
b4 = df['PetalWidthCm'].min()

In [66]:
print(b1,b2,b3,b4)

4.3 2.0 1.0 0.1

In [67]:
b1 =  df['SepalLengthCm'].max()
b2 = df['SepalWidthCm'].max()
b3 = df['PetalLengthCm'].max()
b4 = df['PetalWidthCm'].max()

In [68]:
print(b1,b2,b3,b4)

7.9 4.4 6.9 2.5

In [69]:
b1 =  df['SepalLengthCm'].std()
b2 = df['SepalWidthCm'].std()
b3 = df['PetalLengthCm'].std()
b4 = df['PetalWidthCm'].std()

In [70]:
print(b1,b2,b3,b4)

0.828066127977863 0.4335943113621737 1.7644204199522626 0.7631607417008411

In [73]:
from sklearn.preprocessing import LabelEncoder

In [74]:
li = LabelEncoder()

In [76]:
df['Species']=li.fit_transform(df['Species'])

In [77]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [82]:
df['Species'].value_counts

<bound method IndexOpsMixin.value_counts of 0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32>